<div>
  <div name="home" id="home">
  </div>
  <div class="background">
  </div>
  <div class="content">
    <h1>Hello, I'm</h1>
    <h1>Steve</h1>
    <div id="anchorArrow" data-id="#about">
      <a href="#about" class="anchorLink"><p>&#8595;</p></a>
    </div>
  </div>
  </div>
  <div name="aboutAnchor" id="aboutAnchor" class="about">
    <div class="navMenu">
      <div class="row" id="mobileNavigation">
        <nav class="flexcontainer">
          <div class="col-12">
            <div class="col-1">
            </div>
            <div class="col-10">
              <div class="col-2" id="menuNavHello">
                <div class="navName" id="menu"><a href="#" id="top"><p>HELLO, I'M STEVE</p></a></div>
              </div>
              <div class="js">
                <div class="col-2" id="menuNavAbout">
                  <div class="navName" id="menu"><a href="#about" class="anchorLink" id="aboutNav"><p>about me</p></a></div>
                </div>
                <div class="col-2" id="menuNavResume">
                  <div class="navName" id="menu"><a href="#resume" class="anchorLink" id="skillNav"><p>resume</p></a></div>
                </div>
                <div class="col-2" id="menuNavProjects">
                  <div class="navName" id="menu"><a href="#projects" class="anchorLink" id="projectNav"><p>projects</p></a></div>
                </div>
                <div class="col-2" id="menuNavContact">
                  <div class="navName" id="menu"><a href="#contactAnchor" class="anchorLink" id="contactNav"><p>hire me</p></a></div>
                </div>
              </div>
            </div>
            <div class="col-1" id="menuThreeLine">
              <div class="threeLine" id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- <div class="threeLine" id="menu"><p>&#9776;</p></div> -->
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="profile col-12">
        <div class="col-12">
          <h1>About Me</h1>
          <p class="about-text-v1">My life is one big adventure. Whether it is growing my own food, attempting to climb a mountain, or learning a new programming language, I approach everything with an open mind, a willingness to learn and grow from my experiences, and an overall appreciation for life. I'm a fullstack developer with a background in marketing and international business from the <strong>University of Colorado</strong>. My professional experience includes all facets of marketing, farm management, account/project management, and restaurant management. Since pivoting from my marketing career, I completed the Galvanize Full Stack development program and I have been focused primarily in JavaScript and Ruby. I have been exposed to many different technologies and frameworks and am always tinkering around on something in my free time. I like to think I bring a lot to the table. Consider me a fullstack professional.</p>
        </div>
        <div class="about" id="anchorArrow1" data-id="#resume">
          <a id="arrow" href="#resume" class=""><p class="arrow">&#8595;</p></a>
        </div>
      </div>
    </div>
  </div>
  <div name="workAnchor" id="workAnchor" class="work">
    <div class="row">
      <div class="resume col-12">
        <div class="col-6">
          <div class="skills">
            <h1>Skills</h1>
            <br>
            <p>Technologies I have used both professionally and in my spare time.</p>
            <table>
              <tr>
                <td><h3>Fluent</h3></td>
              </tr>
              <tr>
                <td>JavaScript, Ruby</td>
              </tr>
              <tr>
                <td><h3>Familiar</h3></td>
              </tr>
              <tr>
                <td>Angular, React, D3.js, GraphQL, ElasticSearch, neo4j, jQuery, SQL, MongDB, Haml, Jade, CoffeeScript, WordPress, SquareSpace</td>
              </tr>
              <tr>
                <td><h3>Soft Skills</h3></td>
              </tr>
              <tr>
                <td>Client Relations, Staff Developement, Leadership, Account Marketing, Campaign Management</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-6">
          <div class="experience">
            <h1>Professional Experience</h1>
            </br>
            <div class="smalljob row">
              <h2>Freelance Web Developer</h2>
              <p>August 2016 to Present | Boulder, CO</p>
              <ul>
                <li>Technology Stack: Wordpress, Squarespace, JavaScript, CSS, Sass, jQuery, HTML</li>
                <li>Work with clients to do everything digital from launching splash pages for digital campaigns to full website redesign.</li>
                <li><a href="https://purelyelizabeth.com/" target="_blank">Purely Elizabeth</a></li>
                <li><a href="https://www.insideoutincubator.com/" target="_blank">Inside Out Incubator</a></li>
                <li><a href="https://twighairsalon.com/" target="_blank">Twig Hair Salon</a></li>
              </ul>
            </div>
            <div class="smalljob row">
              <h2>Xprit</h2> | <h3>Full Stack Developer</h3>
              <p>February 2016 to August 2016 | Longmont, CO</p>
              <ul>
                <li>Technology Stack: Ruby, Node.js, CoffeeScript, ElasticSearch, neo4j, MongoDB, Redis.</li>
                <li>Responsible for developing backend admin tools and API endpoints.</li>
                <li>Developed backend tools for email, group messaging, and data reporting.</li>
                <li>Created API endpoints used to manage and administer push notifications to mobile app.</li>
              </ul>
            </div>
            <div class="smalljob row">
              <h2>Content BLVD</h2> | <h3>Full Stack Developer</h3>
              <p>August 2015 to December 2015 | Denver, CO</p>
              <ul>
                <li>Technology Stack: Node.js, Mithril, CoffeeScript, ActiveRecord, SQL, Heroku, CircleCI, New Relic, Sentry, Mocha.</li>
                <li>Responsible for developing backend admin tools and API endpoints.</li>
                <li>Developed backend tools for email, group messaging, and data reporting.</li>
                <li>Created API endpoints used to manage and administer push notifications to mobile app.</li>
              </ul>
            </div>
          </div>
          <!-- <div class="experience">
            <h1>Relative Experience</h1>
            </br>
            <div class="smalljob row">
              <h2>Snooze, An A.M. Eatery</h2> | <h3>Asistant General Manager</h3>
              <p>August 2011 to May 2014, October 2016 to May 2017 | Boulder, CO</p>
            </div>
            <div class="smalljob row">
              <p>
                <h2>Giveo</h2> | <h3>Account Manager</h3></p>
              <p>December 2009 to August 2011 | Denver, CO</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="work" id="anchorArrow2" data-id="#project">
          <a href="#projects" id="arrow" class="anchorLink"><p class="arrow">&#8595;</p></a>
        </div>
      </div>
    </div>
  </div>
  <div name="projectAnchor" id="projectAnchor" class="projects">
    <div class="row">
      <div class="col-12">
        <div class="col-12 projects">
          <h1>Projects</h1>
          <p>Things I enjoy doing in my free time and want to share with the world.</p>
          <p>(Links to projects coming soon!)</p>
          <div class="gallery">
            <div class="row">
              <div class="showcase col-3">
                <div class="gmail-cli">
                  <a href="gmailcli">
                    <img src="/images/gmail_cli.png" class="img" />
                    <p class="description">gMail CLI</p>
                  </a>
                </div>
              </div>
              <div class="showcase col-3">
                <div class="weatherapp">
                  <a href="weatherapp">
                    <img src="/images/weatherapp.png" class="img" />
                    <p class="description">
                      Weather App For Dogs
                    </p>
                  </a>
                </div>
              </div>
              <div class="showcase col-3">
                <div class="stateofco">
                  <a href="stateofco">
                    <img src="/images/CO_logo.jpg" class="img" />
                    <p class="description">State Of CO</p>
                  </a>
                </div>
              </div>
              <div class="showcase col-3">
                <div class="gcamp">
                  <a href="gcamp">
                    <img src="/images/gcamp.png" class="img" />
                    <p class="description">gCamp</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="showcase col-3">
                <div class="soundboard">
                  <a href="soundboard">
                    <img src="/images/soundboardcat.png" class="img" />
                    <p class="description">Soundboard</p>
                  </a>
                </div>
              </div>
              <div class="showcase col-3">
                <div class="staytuned">
                  <img src="/images/staytuned.png" class="img" />
                  <p class="description">Stay tuned for more projects...</p>
                </div>
              </div>
              <div class="showcase col-6">
                <p>Enjoy some of my adventure here, at my blog!</p>
                <% page_articles.each_with_index do |article, i| %>
                <h2><%= link_to article.title, article %></h2>
                <!-- <span><%= article.date.strftime('%b %e') %></span> -->
                <!-- use article.summary(250) if you have Nokogiri available to show just
                the first 250 characters -->
                <!-- <%= article.body %> -->
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="projects" id="anchorArrow3" data-id="#contactAnchor">
          <a id="arrow" href="#contactAnchor" class="anchorLink"><p class="arrow">&#8595;</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="background1">
    <div class="content1">
      <!-- <p>The biggest adventure you can take is to live the life of your dreams.</p> -->
      <!-- <h1></h1> -->
      <!-- <div id="anchorArrow" data-id="#about">
        <a href="#about" class="anchorLink"><p>&#8595;</p></a>
      </div> -->
    </div>
  </div>
  <div name="contactAnchor" id="contactAnchor" class="contact">
    <div class="row">
        <div class="col-12">
          <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <p></p>
        </div>
    </div>
      <div class="row">
        <div id="footerNavMenu">
        <div class="flexcontainer">
          <div class="col-12">
            <div class="col-1">
              <div class="footerThreeLine" id="footerMenu"></div>
            </div>
            <div class="col-3" id="footerMobileNav">
                <a href="https://github.com/steve970">
                  <img src="/images/github.png" class="github"/>
                </a>
                <a href="https://www.linkedin.com/in/stevenhirschhorn">
                  <img src="/images/linked_in.jpg" class="linkedin" />
                </a>
                <a href="mailto:steven.hirschhorn@gmail.com" target="_top" style="color: black"><img src="/images/email.png" class="email" /></a>
                <a href="Steve Hirschhorn Resume.pdf" target="_blank"><img src="/images/resume.png" id="resume" /></a>
            </div>
            <div class="mobileLinks">
              <div class="col-2" id="footerMobileAbout">
                <div class="footerNavName" id="footerMenu"><a href="#about" class="anchorLink" id="footerAboutNav"><p>about me</p></a></div>
              </div>
              <div class="col-2" id="footerMobileResume">
                <div class="footerNavName" id="footerMenu"><a href="#resume" class="anchorLink" id="footerSkillNav"><p>resume</p></a></div>
              </div>
              <div class="col-2" id="footerMobileProjects">
                <div class="footerNavName" id="footerMenu"><a href="#projects" class="anchorLink" id="footerProjectNav"><p>projects</p></a></div>
              </div>
              <div class="col-2" id="footerMobileContact">
                <div class="footerNavName" id="footerMenu"><a href="#contactAnchor" class="anchorLink" id="footerContactNav"><p>hire me</p></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <p></p>
        </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="fineprint col-4">
          <p>powered by Middleman, Webpack & Github - &#169; 2017.</p>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</div>