---
title: "Steve Hirschhorn - Portfolio Archive (Version 1.0)"
layout: v1_layout
---

<%= partial "archive/v1/v1_content" %>

<!-- Archive Notice - moved to bottom -->
<div class="archive-notice">
  <p>You're viewing an archived version of this portfolio from 2017.</p>
  <a href="/" class="back-link">← Return to current version</a>
</div>