<div class="version-selector">
  <button class="version-toggle" id="versionToggle">
    <span class="version-text">v2.0</span>
    <span class="version-arrow">↕</span>
  </button>
  
  <div class="version-dropdown" id="versionDropdown">
    <div class="version-header">
      <h4>Portfolio Versions</h4>
    </div>
    
    <div class="version-list">
      <a href="/archive/v1/" class="version-item">
        <div class="version-info">
          <span class="version-number">v1.0</span>
          <span class="version-description">Original Parallax Design</span>
        </div>
        <span class="version-year">2024</span>
      </a>
      
      <div class="version-item current">
        <div class="version-info">
          <span class="version-number">v2.0</span>
          <span class="version-description">Modern Minimalist</span>
        </div>
        <span class="version-year">2024</span>
      </div>
      
      <div class="version-item coming-soon">
        <div class="version-info">
          <span class="version-number">v3.0</span>
          <span class="version-description">Coming Soon...</span>
        </div>
        <span class="version-year">TBD</span>
      </div>
    </div>
  </div>
</div>