---
name: "gCamp"
summary: "basecamp-like task management site"
description: "Using Node.jsd;asfdjfaskl;djflaskdjf sl;dkfjasdklfjas dklf./ adskfh asknsm, fasikldfh askjdfhjaskldjfhaskldjfh askjfhawileurh asdmnfasdjkfhaskldijf nakewilrhu q"
tech: "Ruby on Rails, Twitter Bootstrap"
repo: "https://github.com/steve970/gCamp"
class: "gcamp"
image: "/images/gcamp.png"
---

<div class="col-5">
  <div class="showcase">
    <div class="gcamp">
        <img src="/images/gcamp.png" class="img" />
    </div>
  </div>
</div>
