---
name: "gMail CLI"
summary: "check your email without ever leaving the command line."
description: "A command line application that pulls up the 5 most recent emails in your inbox. Read, send, and delete emails without visiting your browser. My gSchool capstone project, touches lightly on email encryption, API calls, promises, callbacks, and overall Node.js understanding."
tech: "Node.js., JavaScript, Gmail API"
repo: "https://github.com/steve970/g7_gmail_capstone"
class: "gmail-cli"
image: "/images/gmail_cli.png"
other:
  npm: "https://www.npmjs.com/package/gmail_cli"
---
<div class="col-5">
  <div class="showcase">
    <div class="gmail-cli">
        <img src="/images/gmail_cli.png" class="img" />
    </div>
  </div>
</div>
