---
name: "gMail CLI"
summary: "check your email without ever leaving the command land."
description: "Using Node.js"
tech: "Node.js., JavaScript"
repo: "https://github.com/steve970/g7_gmail_capstone"
class: "gmail-cli"
image: "/images/gmail_cli.png"
other:
  npm: "https://www.npmjs.com/package/gmail_cli"
---
<div class="col-5">
  <div class="showcase">
    <div class="gmail-cli">
        <img src="/images/gmail_cli.png" class="img" />
    </div>
  </div>
</div>
