---
title: Steve Hirschhorn
---

<div id="scroll-animate">
  <div id="scroll-animate-main">
    <div class="wrapper-parallax">
      <header>
          <h1>Hello, I'm</h1>
          <h1>Steve . . .</h1>
      </header>


      <section class="slider">
        <div class="content">
          <p>I'm a fullstack developer with a background in marketing. My professional experience includes being a farm manager, account/project management, restaurant manager.</p>
          <p>Consider me a fullstack professional.</p>
          <p>Some of my projects include:</p>
          <div id="wrapper">
            <div id="columns">
              <div class="pin">
                <a href="https://www.npmjs.com/package/gmail_cli"><h4>Gmail Command Line Application</h4></a>
                <img src="../images/gmailapp.png" />
                <p><strong>Project Description</strong><p>
                <p>g7 Capstone Project. Manage your Gmail from your command line.</p>
                </br>
                <p><strong>Technical Notes</strong></p>
                <p>Node.js, JavaScript</p>
                </br>
                <p><strong><a href="https://github.com/steve970/g7_gmail_capstone">GitHub Repo</a></strong></p>
              </div>
              <div class="pin">
                <a href="/weatherapp/index.html"><h4>Weather App for Dogs</h4></a>
                <img src="https://students-gschool-production.s3.amazonaws.com/uploads/student_project/screenshot/808/thumb_Screen_Shot_2015-06-18_at_3.30.34_PM.png" />
                <p><strong>Project Description</strong><p>
                <p>It's a weather app + puppies! It finds and prints out your IP address, allows you to put in a city and state and gives you the weather!</p>
                </br>
                <p><strong>Technical Notes</strong></p>
                <p>JavaScript, jQuery, FlickerAPI, Open Weather API, JSON IP</p>
                </br>
                <p><strong><a href="https://github.com/steve970/weather_app_for_dogs">GitHub Repo</a></strong></p>
              </div>
              <div class="pin">
                <a href="/soundboard/index.html"><h4>Soundboard</h4></a>
                <img src="https://students-gschool-production.s3.amazonaws.com/uploads/student_project/screenshot/807/thumb_Screen_Shot_2015-06-18_at_3.24.31_PM.png" />
                <p><strong>Project Description</strong><p>
                <p>Make music with your keyboard!</p>
                </br>
                <p><strong>Technical Notes</strong></p>
                <p>jQuery, JavaScript</p>
                </br>
                <p><strong><a href="https://github.com/steve970/js-sound-board">GitHub Repo</a></strong></p>
              </div>
              <div class="pin">
                <a href="https://g7gcamp.herokuapp.com"><h4>gCamp</h4></a>
                <img src="https://students-gschool-production.s3.amazonaws.com/uploads/student_project/screenshot/599/thumb_Screen_Shot_2015-06-18_at_3.18.54_PM.png" />
                <p><strong>Project Description</strong><p>
                <p>Basecamp-like task management site.</p>
                </br>
                <p><strong>Technical Notes</strong></p>
                <p>Ruby on Rails</p>
                </br>
                <p><strong><a href="https://github.com/steve970/gCamp">GitHub Repo</a></strong></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div id="info">
          <p>I am currently looking for new opportunities!</p>
          <p>Checkout my resume:<a href="resume.pdf" target="_blank"><i class="fa fa-file-text-o" style="padding-left:10px; color:black"></i></a></p>
          <p>email: <a href="mailto:hirschhorn970@gmail.com" target="_top" style="color: black">hirschhorn970@gmail.com</a></p>
          <p>
            <a href="https://github.com/steve970"><%= image_tag 'github.png', class:'github' %></a>
            <a href="https://www.linkedin.com/in/stevenhirschhorn"><%= image_tag 'linked_in.jpg', class:'linked_in' %></a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
